body{
    /* background-color: beige; */
    background-color: gray;
    box-sizing: border-box;
}

.coloums{
    display: flex;
    flex-direction: row;;
    gap: 2rem;
    height: 100%;
    width: 98%;
    margin-left:2.5rem;
}

.contaner{
    display: flex;
    flex-direction: row;
    row-gap: 20rem;
    margin-left: 1.5rem;
}

.mainbox{
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 16px;
    height: 4rem;
    width: 9.5rem;
    margin-right: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1.3px solid black;
}

.f_row{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 9.2rem;
}

.green{
    background-color: greenyellow;
}
.yellow {
    background-color: yellow;
}
.pink{
    background-color: pink;
}
.sky{
    background-color: skyblue;
}

.brown{
    background-color: burlywood;
}

.fbox{
    box-sizing: border-box;
    opacity: 0.8;
    height: 80px;
    width: 80px;
    /* background-color: bisque; */
    border-radius: 10px;
    margin-bottom: 10px; 
    text-align: center;
    padding-top: 20px;
    font-size: 22px;
    cursor: grab;
    user-select: none;
    border: 0.1px solid black;
}

.hold{
  border: 2px solid gray;
}

.hide{
    display: none;
}

.fbox.hold{
    opacity: 0.5;
}

.fbox:hover{
    border: 1px dashed #333;
    transform: scale(1.05);
}




/* .last {
    height: 30rem;
    width: 50rem;
    background-color: burlywood;
} */